.gallery{
	
	margin-top:12rem;

	&__header{
		@include sectionHeader
	}

	&__album{
		margin:5rem auto;
		width:80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;	
		padding:1rem;

		@include respond(s){
			width:100%;
		}

		&--header{
			font-family: $font-rajdhani;
			font-size: 5rem;
			font-weight: 400;
			color:$color-secondary-dark;
			text-shadow: .5rem .5rem 1rem rgba(0,0,0,.8);
			z-index: 79;

			@include respond(s){
				font-size: 3rem;
			}
		}

		&--main{
			height:50vh;
			max-width:100%;
			margin:1rem;
			padding:1rem;
			display:flex;
			justify-content: center;
			align-items: center;
			cursor:pointer;
			transition:all .2s;
			position:relative;

			&::after{
				display:block;
				content:"";
				width:100%;
				height:100%;
				position:absolute;
				top:-30%;
				left:-30%;
				border:1px solid black;
				z-index: -1;
				border-radius: 3px;
				box-shadow: -1rem -1rem 1rem rgba($color-secondary-dark,.3);
				background-color: rgba($color-primary-light,.3);
				transform:rotate(5deg);

				@include respond(l){
					top:20%;
					left:20%
				}

				@include respond(m){
					top:-15%;
					left:-15%
				}

				@include respond(s){
					display:none;
				}
			}
			&::before{
				display:block;
				content:"";
				width:100%;
				height:100%;
				position:absolute;
				top:30%;
				left:30%;
				border:1px solid black;
				z-index: -1;
				border-radius: 3px;
				box-shadow: 1rem 1rem 1rem rgba($color-secondary-dark,.3);
				background-color: rgba($color-primary-light,.6);
				transform:rotate(-5deg);

				@include respond(l){
					top:20%;
					left:20%
				}

				@include respond(m){
					top:15%;
					left:15%
				}

				@include respond(s){
					display:none;
				}
			}

			p{
				display:none;
				width:100%;
				text-align: center;
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
				font-family: $font-rajdhani;
				font-size: 3rem;
				color:white;
				pointer-events: none;
				z-index: 89;
			}

			&:hover{
				filter: contrast(110%);
				position:relative;
				p{
					display:block;
				}
			}

			&-photo{
				max-width:100%;
				max-height:50vh;
				box-shadow: 0 0 2rem rgba(0,0,0,.4);
				border:2px solid $color-secondary-dark;
				border-radius: 3px;
				position:relative;
				z-index: 79;
				
			}
		}

		&--collection{
			display:flex;
			justify-content: flex-start;
			flex-wrap: nowrap;
			padding: 1rem;
			//background-color:black;
			//box-shadow: 0 0 5rem rgba($color-primary-light,.4);
			max-width:100%;
			overflow-x:scroll;
			z-index: 79;

			&-photo{
				//max-width:10%;
				border:2px solid black;
				height:10vh;
				margin:0 .2rem;
				cursor:pointer;
				transition:all .3s;
				border-radius: 3px;
				//box-shadow: 0 0 1rem $color-primary-light;

				&:hover{
					transform:scale(1.1);
				}

				img{
					//max-width:100%;
					height:100%;
				}
			}
		}
	}

	&__full{
		position:fixed;
		top:0;
		left:0;
		width:100vw;
		height:100vh;
		z-index: 95;
		background-color: rgba(0,0,0,.9);
		display: flex;
		justify-content: center;
		align-items: center;

		&--count{
			position:absolute;
			top:2rem;
			left:2rem;
			font-size: 2rem;
			color:white;
		}

		&--close{
			position:absolute;
			top:2rem;
			right:2rem;
			font-size: 4rem;
			font-weight: 300;
			color:white;
			cursor:pointer;

		}

		img{
			display:block;
			max-width:80%;
			max-height:80%;
			margin:0 auto;
			filter: contrast(110%);
		}

		&--previous{
			position:absolute;
			bottom:4rem;
			left:4rem;
			font-size: 5rem;
			color:$color-grey-light;
			cursor:pointer;
			transition:all .3s;

			&:hover{
				transform:scale(1.1);
				color:white;
			}
			&:active{
				transform:scale(0.9);
			}
		}

		&--next{
			position:absolute;
			bottom:4rem;
			right:4rem;
			font-size: 5rem;
			color:$color-grey-light;
			cursor:pointer;
			transition:all .3s;

			&:hover{
				transform:scale(1.1);
				color:white;
			}
			&:active{
				transform:scale(0.9);
			}
		}
	}
}

