.header{
	width:100%;
	display:flex;
	justify-content: space-between;
	padding:1rem;
	border-bottom: 1px solid $color-primary-light;
	height:8rem;
	position:fixed;
	top:0;
	left:0;
	z-index: 9;
	margin-bottom: 5rem;
	background-color: white;
	transition:background-color 1s;

	@include respond(s){
		height:6rem;
		margin-bottom: 4rem;
		padding:.2rem;
	}
	
	&__left{
		flex:0 0 20%;
		display:flex;
		justify-content: flex-start;
		align-items: center;

		@include respond(s){
			flex:0 0 33%;
		}

		&--link{
			border-bottom:1px solid transparent;
			font-family: $font-rajdhani;
			font-size: 2.2rem;
			color:$color-secondary-dark;
			cursor:pointer;
			margin:.5rem;
			transition:border .3s;
			margin-right: 2rem;

			&:hover{
				border-bottom:1px solid rgba($color-secondary-light,.7);
			}

			@include respond(s){
				margin:.2rem;
				margin-right: .9rem;
				font-size: 1.8rem;
			}
		}
	}

	&__center{

		width:20%;
		position:absolute;
		top:20%;
		left:50%;
		transform:translate(-50%, 0);
		display:flex;
		justify-content: center;

		@include respond(s){
			width:33%;
			flex:auto;
		}

		&--logo{

			background-color: $color-primary-light;
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 3px;
			padding: 1rem 2.5rem;
			line-height:.9;
			box-shadow: 0 .5rem 1rem rgba($color-primary-dark,.3);
			cursor:pointer;
			transition:background-color .3s;

			&:hover{
				background-color:darken($color-primary-light,5%);
				
			}

			&-name{
				font-family: $font-grotesque;
				font-size: 8rem;
				font-weight: 300;
				color:$color-secondary;
				text-transform: uppercase;
				text-shadow: .2rem .2rem .5rem rgba($color-secondary-dark,.5);

				@include respond(s){
					font-size: 6rem;
				}
			}
			&-sub{
				font-family: $font-garamond;
				font-size: 2.6rem;
				letter-spacing: .2rem;
				font-weight: 300;
				color:$color-secondary;
				@include respond(s){
					font-size: 2rem;
				}
			}
			
			
		}
	}

	&__right{
		flex:0 0 20%;
		display:flex;
		justify-content: flex-end;
		align-items: center;

		@include respond(s){
			flex:0 0 33%;
			margin-right: .5rem;
		}

		&--link{
			border-bottom:1px solid transparent;
			font-family: $font-rajdhani;
			font-size: 2.2rem;
			color:$color-secondary-dark;
			cursor:pointer;
			margin:.5rem;
			transition:border .3s;
			margin-right: 2rem;

			&:hover{
				border-bottom:1px solid rgba($color-secondary-light,.7);
			}

			@include respond(s){
				margin:.2rem;
				margin-right: 1rem;
				font-size: 1.8rem;
			}
		}		
	}
}