.legal{
	width:100%;
	font-family: $font-garamond;
	font-size: 2.5rem;
	padding:2rem;

	h1{
		padding-top:15rem;
		color:$color-secondary;
		text-align: center;
		text-shadow: .5rem .5rem 1rem rgba($color-primary-light,.3);
		text-transform: uppercase;
	}

}