@keyframes jump{

	0%{
		transform: translateY(0);
	}
	10%{
	 	transform: translateY(-.5rem);
	}
	20%{
	 	transform: translateY(0);
	}
	60%{
	 	transform: translateY(0);
	}
	70%{
	 	transform: translateY(-.5rem);
	 }
	80%{
	 	transform: translateY(0);
	}
	100%{
		transform: translateY(0);
	}
}

@keyframes showUp{
	0%{
		opacity: 0;
		transform:scale(0);
	}
	100%{
		opacity: 1;
		transform:scale(1);
	}
}