//Colors

$color-primary: #B97C7C;			//pink
$color-primary-light: #D0BBAF;	
$color-primary-dark: #673633;

$color-secondary-dark: #23102B;			//purple
$color-secondary: #3c2845;
$color-secondary-light: #76687C;

$color-tertiary: #7E1F14;			//red

$color-grey: #D3D3D3;
$color-grey-light: #DCDCDC;
$color-grey-dark: #C0C0C0;
//Fonts
$font-garamond: 'Cormorant Garamond', serif;
$font-grotesque: 'Darker Grotesque', sans-serif;
$font-rajdhani: 'Rajdhani', sans-serif;